<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employee)">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Create Employee</h3>
  </div>
  <div class="panel-body">
    <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
      <label for="name" class="control-label">Name</label>
      <input id="name" required type="text" class="form-control" name="name"
        [(ngModel)]="employee.name" #name="ngModel">
      <span class="help-block" *ngIf="name.invalid && name.touched">
        Name is required
      </span>
    </div>

    <table border=1 style="border-collapse:collapse; font-family:Arial; table-layout: fixed">
      <tr style="background-color:silver; font-weight: bold">
        <td colspan="3" style="padding:3px; white-space:nowrap; width:100%">
          <h4>Employee Form</h4>
        </td>
      </tr>
      <tr style="background-color:silver; font-weight: bold">
        <td style="padding:10px; white-space:nowrap; width:33%">
          <div>touched : {{ employeeForm.touched }}</div>
          <div>untouched : {{ employeeForm.untouched }}</div>
        </td>
        <td style="padding:10px; white-space:nowrap; width:33%">
          <div>pristine : {{ employeeForm.pristine }}</div>
          <div>dirty : {{ employeeForm.dirty }}</div>
        </td>
        <td style="padding:10px; white-space:nowrap; width:33%">
          <div>valid : {{ employeeForm.valid }}</div>
          <div>invalid : {{ employeeForm.invalid }}</div>
        </td>
      </tr>
    </table>

    <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email" class="control-label">Email</label>
        <input required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
               id="email" type="text" class="form-control" name="email"
               [(ngModel)]="employee.email" #email="ngModel">
        <span class="help-block" *ngIf="email.errors?.required && email.touched">
          Email is required
        </span>
        <span class="help-block" *ngIf="email.errors?.pattern && email.touched">
          Email is Invalid
        </span>
    </div>

    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" name="phoneNumber" [(ngModel)]="employee.phoneNumber" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="contactPreference" value="email"
            [(ngModel)]="employee.contactPreference">
            Email
          </label>
          <label class="radio-inline">
            <input type="radio" name="contactPreference" value="phone"
            [(ngModel)]="employee.contactPreference">
            Phone
          </label>
        </div>
    </div>
    
    <div class="form-group">
        <label for="email">Gender</label>
        <div class="form-control">
          <label class="form-inline">
            <input type="radio" value="male" name="gender" [(ngModel)]="employee.gender">
            Male 
          </label>
        
          <label class="form-inline">
            <input type="radio" value="female" name="gender" [(ngModel)]="employee.gender">
            Female 
          </label>
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-control">
      <label class="checkbox-inline">
        <input type="checkbox" name="isActive" [(ngModel)]="isActive">Is Active
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="department">Department</label>
    <select id="department" name="department"
            [(ngModel)]="employee.department" class="form-control">
      <option *ngFor="let dept departments" [value]="dept.id">
        {{dept.name}}
      </option>
    </select>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label for="dateOfBirth">Date of Birth</label>
      <input id="dateOfBirth"  name="dateOfBirth" [(ngModel)]="employee.dateOfBirth"
             class="form-control" type="text" bsDatepicker
             [bsConfig]="datePickerConfig" />
    </div>
  </div>

  <div class="form-group">
    <label for="photoPath">Photo Path</label>
    <input id="photoPath" type="text" class="form-control"
            name="photoPath" [(ngModel)]="employee.photoPath">
  </div>

  <div class="form-group">
    <button (click)="togglePhotoPreview()" class="btn btn-primary">
      {{previewPhoto ? "Hide " : "Show " }} Preview
    </button>
  </div>

  <div class="form-group">
    <img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto"/> 
  </div>
  

  <div class="panel-body">
    <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
  </div>
</div>
</form>

Angular Generated Form Model : {{employeeForm.value | json}}
<br/>
<br/>
Our Employee Model : {{ employee | json}}
