<h1 #h1Variable></h1>

<div *ngFor="let employee of employees">
    <div (click)="h1Variable.innerHTML = childComponent.getNameAndGender()">
        <app-display-employee [employee]="employee" #childComponent>
        </app-display-employee>
    </div>
</div>

<!-- <div *ngFor="let employee of employees">
    <div (click)="h1Variable.innerHTML = childComponent.employee.name + ' ' + childComponent.employee.gender">
        <app-employee-display [employee]="employee" #childComponent>
        </app-employee-display>
    </div>
</div> -->

<!-- <h1>
    {{ dataFromChild?.name + ' ' + dataFromChild?.gender }}
</h1> -->
<!-- <div *ngFor="let employee of employees">
    <app-display-employee [employee]="employee" (notify)="handleNotify($event)"></app-display-employee>
</div> -->

<!-- <button (click)="nextEmployee()" class="btn btn-primary">
    View Next Employee
</button>
<br /><br />
<app-display-employee [employee]="employeeToDisplay">
</app-display-employee> -->